.browse {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 16px;

  border-radius: 12px;
  padding: 24px;

}

.browse h1 {
  font-size: 1.5rem;
  margin-bottom: 12px;
}

.browse img {

  object-fit: contain;
}

.browse button {
  margin-top: 12px;
  padding: 10px 24px;
  background: #292929;
  color: #fff;
  border: none;
  border-radius: 6px;
  font-weight: 700;
  cursor: pointer;
  transition: background 0.2s;
}

.browse button:hover {
  background: #0078d7;
}

